html, body, .container-table {
    height: 100%;
}

.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

body {
    min-height: 100%;
    background-image: url("fractal-background.jpg");
    background-color: #000;
    background-position: center center;
    background-repeat: no-repeat;
}

.calling-card {
    background-color: #000;
    color: #ccc;
    height: 100%;
    width: 100%;
    padding: 20px;
}

.portal-selection {
}

.portal {
    color: #ccc;
    font-size: 2em;
}

.portal:visited {
    color: #ccc;
}

#avatar {
}
