html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #1fa67a;
}

.profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.container {
  width: 350px;
}

.card {
  background-color: #fff;
  padding: 30px;
  font-family: 'Roboto', sans-serif;
  box-shadow: 10px 10px;
}

.name {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 46px;
  text-align: center;
}

.portal {
  font-size: 2em;
}

a, a:visited, a:active, a:focus {
  color: #000;
}

a:hover {
  color: #1fa67a;
}
